html{
	-webkit-font-smoothing:antialiased;
}

body{
	background-color: #fff;
	left: 0;
	top: 0;
	margin: 0;
}

@font-face {
    font-family: 'sofia_pro_lightregular';
    src: url('../font/SofiaProLight-webfont.eot');
    src: url('../font/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SofiaProLight-webfont.woff') format('woff'),
         url('../font/SofiaProLight-webfont.ttf') format('truetype'),
         url('../font/SofiaProLight-webfont.svg#sofia_pro_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
    font-family: 'sofia_pro_lightregular';
    src: url('../font/SofiaProLight-webfont.svg#sofia_pro_lightregular') format('svg');
         font-weight: normal;
         font-style: normal;
    }
}

/* Fix For select>option */
@font-face {
    font-family: 'sofia_prolight';
    src: url('../font/SofiaProLight-webfont.eot');
    src: url('../font/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SofiaProLight-webfont.woff') format('woff'),
         url('../font/SofiaProLight-webfont.ttf') format('truetype'),
         url('../font/SofiaProLight-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
header{
	width: 100%;
	height: auto;
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
	color: white;
	font-family: "sofia_pro_lightregular";
	font-size: 40px;
	background: #d32929;
}

blockquote{
	font-size: 20px;
	padding-bottom: 10px;
}

#form{
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.unit{
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	height: auto;
}

.part3{
	width: 300px;
	float: left;
	height: auto;
	font-family: "sofia_pro_lightregular";
	color: #d32929;
	font-size: 20px;
	text-align: left;
}

.part4{
	width: 300px;
	display: block;
}

input{
	width: 300px;
	height: 35px;
	font-size: 20px;
	font-family: "sofia_pro_lightregular";
	color: #d32929;
	border: none;
	border: 2px solid #d32929;
	border-left: 6px solid #d32929;
}

select{
	width: 300px;
	height: 35px;
	font-size: 20px;
	font-family: "sofia_prolight";
	color: #d32929;
	border: none;
	border: 2px solid #d32929;
	border-left: 6px solid #d32929;
}

textarea{
	width: 300px;
	height: 140px;
	font-size: 20px;
	font-family: "sofia_pro_lightregular";
	color: #d32929;
	border: none;
	border: 2px solid #d32929;
	border-left: 6px solid #d32929;
	resize:none;
}

#leftPane{
	float: left;
	width: 300px;
	height: auto;
	display: block;
	margin-left: 80px;
}

#rightPane{
	float: left;
	width: 300px;
	margin-left: 100px;
	height: auto;
	display: block;
}

button{
	border: none;
	width: 100%;
	background-color: #d32929;
	color: white;
	font-family: "sofia_pro_lightregular";
	font-size: 24px;
}

@media only screen and (max-width: 800px){
	#rightPane,#leftPane{
		margin-left: 0px;
	}
	#form{
		width: 300px;
		overflow: hidden;
	}
}

#bottom{
	border-bottom: 3px solid #d32929;
	clear: both;
	padding-top: 40px;
	display: block;
	width: 100%;
	height: auto;
	font-family: "sofia_pro_lightregular";
	font-size: 18px;
	text-align: center;
	padding-bottom: 10px;
}

#mod{
	width: auto;
	padding:25px;
	font-size: 20px;
	font-family: "sofia_pro_lightregular";
	color: white;
	margin: 10px;
	background-color: rgba(211,41,41,0.95);
}