html{
	-webkit-font-smoothing:antialiased;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	font-family: 'quicksandregular';
	src: url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
	     font-weight: normal;
	     font-style: normal;
	}
}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/Nexa_Free_Light-webfont.eot');
    src: url('../fonts/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Free_Light-webfont.woff') format('woff'),
         url('../fonts/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	font-family: 'nexa_lightregular';
	src: url('../fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
	     font-weight: normal;
	     font-style: normal;
	}
}


@font-face {
	font-family: 'Socialico';
	src: url('../fonts/Socialico.eot');
	src: url('../fonts/Socialico.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Socialico.woff') format('woff'),
	url('../fonts/Socialico.ttf') format('truetype'),
	url('../fonts/Socialico.svg#Socialico') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	font-family: 'Socialico';
	src: url('../fonts/Socialico.svg#Socialico') format('svg');
	     font-weight: normal;
	     font-style: normal;
	}
}


#showcase{
	width: 100%;
	height: 350px;
	color: white;
	font-family: "quicksandregular";
	display: block;
	background-image:url(../images/event.jpg);
	border-bottom: 3px solid rgba(0,0,0,0.3);
}

#showcase div{
	width: 100%;
	height: 100%;
	background-color: rgba(70,50,50,0.56);
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}

.ev_title{
	text-align: center;
	line-height: 1.1em;
	padding-top: 90px;
	display: block;
	font-size: 72px;
}

.ev_caption{
	text-align: center;
	font-size: 28px;
	display: block;
}

@media only screen and (max-width: 400px){
	.ev_title{
		font-size: 60px;
	}
	.ev_caption{
		font-size: 24px;
	}
}

#main{
	padding: 20px;
	padding-left: 30px;
}

aside{
	padding-top: 80px;
	font-family: "quicksandregular";
	font-size: 20px;
	text-align: center;
}

@media only screen and (max-width: 991px){
	aside{
		padding-top: 20px;
		padding-bottom: 30px;
	}
}

#main header{
	padding-top: 15px;
	font-size: 48px;
	font-family: "quicksandregular";
}

#main article{
	font-family: "nexa_lightregular";
	font-size: 20px;
	padding-top: 10px;
}

@media only screen and (max-width: 640px){
	#main header{
		font-size: 32px;
	}
}

aside div{
	padding-top: 20px;
	padding-bottom: 5px;
}

aside a:hover{
	text-decoration: none;
}

.socialLink{
	text-align: center;
}

.socialLink a{
	text-decoration: none;
	font-family: "Socialico";
	color: rgb(50,50,50);
	font-size: 40px;
}

.socialLink a:hover{
	text-decoration: none;
	color: #121010;
}

.line{
	width: 150px;
	height: 1px;
	margin-top: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #d7d6d6;
}

#ev-gal{
	width: 200px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 8px;
	display: block;
	color: rgb(50,50,50);
	border:3px solid #121010;
	cursor: pointer;
}

footer{
	width: 100%;
	height: 42px;
	margin-top: 30px;
	font-family: "quicksandregular";
	font-size: 22px;
	clear: both;
	text-align: center;
	background-color: #252020;
	padding-top: 5px;
}

footer a{
	color: #fff;
	text-decoration: none;
}

footer a:hover{
	text-decoration: none;
	color: #bf4040;
}