html{
	-webkit-font-smoothing:antialiased;
}

@font-face {
	    font-family: 'font';
	    src: url('../fonts/quicksand-regular-webfont.eot');
	    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
	         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
	         url('../fonts/quicksand-regular-webfont.svg#font') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
		font-family: 'font';
		src: url('../fonts/quicksand-regular-webfont.svg#font') format('svg');
		     font-weight: normal;
		     font-style: normal;
		}
	}

	body{
		background-color: #efebeb;
		background: url(../images/login.jpg) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		font-family: "font";
		left: 0;
		top: 0;
		margin: 0;
	}

	#login{
		width: 320px;
		height: 392px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
		margin-bottom: 30px;
		background-color:  rgba(255,255,255,0.9);
		font-size: 20px;
		color: #4696ef;
		border-bottom: 8px solid rgba(70,150,239,0.9);
	}

	#login2{
		width: 320px;
		height: 472px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
		margin-bottom: 30px;
		background-color:  rgba(255,255,255,0.9);
		font-size: 20px;
		color: #4696ef;
		border-bottom: 8px solid rgba(70,150,239,0.9);
	}

	#uddLogo{
		background-color:rgba(70,150,239,0.9);
		width: 100%;
		height: 80px;
		font-size: 40px;
		color: white;
		text-align: center;
		padding-top:25px;
	}

	input{
		font-size: 20px;
		padding: 2px;
		width: 250px;
		height: 28px;
		border: none;
		margin-top: 5px;
		font-family: "font";
		border: 2px solid #4696ef;
		color: #4696ef;
		margin-bottom: 15px;
	}
	form{
		padding-top: 40px;
		padding-left: 30px;
	}
	button{
		width: 120px;
		border: none;
		float: right;
		background-color: #4696ef;
		color: white;
		margin-right: 32px;
		font-size: 20px;
		height: 40px;
		margin-top: 10px;
		cursor: pointer;
	}
	footer{
		background-color: rgba(70,150,239,0.6);
		height: 26px;
		margin-top: 135px;
		padding-top: 5px;
	}
	a{
		color: white;
		text-decoration: none;
	}

	@media only screen and (min-height: 670px){
		footer{
			margin-top: 0px;
			position: absolute;
			bottom:0;
			width: 100%;
		}
	}