html{
	-webkit-font-smoothing:antialiased;
}

body{
	font-family: "sofia_prolight";
	font-size: 16px;
	background: #fff;
	color: #fff;
}

a:hover, a:focus{
	text-decoration: none;
	color: #fff;
}

.main{
	background: url("../images/back.jpg");
	background-size: cover;
	position: relative;
}

.overlay{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	padding-bottom: 100px;
}

.team-head .overlay{
	background: rgba(0,0,0,0.1);
}

header{
	position: relative;
	z-index: 1;
	padding-top: 20px;
}

header a{
	display: block;
	width: 100px;
	outline: none;
}

header img{
	width: 100px;
	display: block;
}

header h1{
	font-family: "sofia_prolight";
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 3px;
	margin: 10px 0;
	display: inline-block;
}

.landing{
	z-index: 1;
	position: relative;
	text-align: center;
}

.landing h2{
	color: #FFCE55;
	font-size: 26px;
	text-align: left;
/*	margin:70px 0 10px 0;*/
}

.landing p{
	text-align:left;
	/*margin: 0 0 20px auto;*/
	max-width: 600px;
	font-size: 18px;
}

.landing a{
	position: relative;
	margin: 10px 10px 20px 0;
}

.btn-solid, .btn-border{
	display: inline-block;
	padding: 8px 20px;
	font-family: "nexa_boldregular";
	color: #fff;
	height: 40px;
	font-size: 20px;
	letter-spacing: 1px;
	border-radius: 1px;
	-webkit-transition: all .3s ease;
	        transition: all .3s ease;
}

.btn-solid:hover{
	color: #FFCE55;
}

.btn-border{
	font-family: "sofia_prolight";
	color: #fff;
	padding: 6px 20px;
	border: 3px solid #fff;
	font-size: 16px;
}

.btn-border:hover{
	border: 3px solid #FFCE55;
}

@media all and (max-width: 768px){
	header img, header a{
		width: 80px;
	}
	header h1{
		font-size: 15px;
		letter-spacing: 2px;
	}
}

@media all and (max-width: 700px){
	header img, header a{
		width: 70px;
	}
	header h1{
		font-size: 14px;
		letter-spacing: 1px;
	}
	.overlay{
		background: rgba(0,0,0,0.6);
	}
	.landing, .landing h2{
		text-align: left;
	}
	.landing h2{
		margin-top: 30px;
		font-size: 26px;
	}
	.landing p{
		font-size: 16px;
		text-align: left;
		max-width: 500px;
		/*margin: 10px auto 20px auto;*/
	}
}

@media all and (max-width: 500px){
	.landing .btn-solid, .landing .btn-border{
		display: block;
		max-width: 260px;
	}
	.landing .btn-border{
		max-width: 170px;
	}
	.landing a{
		margin: 10px auto;
	}
}


@media all and (max-width: 480px){
	.landing p{
		max-width: 360px;
	}
}


@media all and (max-width: 360px){
	.landing p{
		max-width: 260px;
	}
}
.text-center {
  text-align: center !important;
}
.menubar{
	padding-left:10px;
	padding-bottom: 10px;
}
.menubar .nav-link
{
	color:white;
	
}
.menubar
{
	z-index:10000;
}
@media all 
{
	.menubar
	{
		z-index:10000;
	}
}
.info article{
	height: 100%;
	width:100%;
	padding: 60px 20px;
	text-align: center;
}

.info span{
	display: block;
	margin-top: 20px;
}

.info i{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	font-size: 42px;
	padding-top: 15px;
	display: inline-block;
	color:rgba(255,255,255,0.8);
	border: 4px solid rgba(255,255,255,0.3);
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.info h3{
	margin: 10px;
	letter-spacing: 1px;
	font-size: 22px;
}

.info p{
	max-width: 100%;
	margin: 5px 0;
	display: inline-block;
}

.red{
	background: #ee2547;
}

.dark-red {
	background: #F26453;
}

.red-color{
	color: #F26453;
}

.blue {
	background: #6798D0;
}

.yellow {
	background: #FFCE55;
}
.lightest-pink
{
	background: #FDEAE8;
}

.green {
	background: #58C1A6;
}

.dark-color{
	color: #424242;
}

.grey-color{
	color: #666;
}

.grey-btn{
	border-color: #676767;
}

.grey-btn:hover, .grey-btn:focus{
	border-color: #F26453;
	color: #666;
}

.slider{
	width: 100%; 
}

.subscribe{
	padding: 60px 10px;
	text-align: center;
}

.subscribe p{
	text-align: center;
	font-size: 18px;
	margin: 10px 0;
	font-family: "nexa_boldregular";
}

.social{
	font-size: 36px;
	max-width: 400px;
	margin: 20px auto;
	display: block;
	/*border: 3px solid #fff;	*/
	padding: 20px;
	/*text-align: center;*/
}

.social a{
	color: #fff;
	margin: 10px;
	-webkit-transition: all .3s ease;
	        transition: all .3s ease;
}

.social a:hover, .social a:focus{
	color: #424242;
}

a{
	outline: none;
}

.subscribe input{
	color: #424242;
	outline: none;
	width: 400px;
	padding: 10px;
	background: none;
	border: 2px solid #F26453;
}

@media all and (max-width: 600px){
	.subscribe input{
		width: 250px;
	}
}

.subscribe button, .contact form button{
	color: #fff;
	height: 45px;
	border: none;
	padding: 0 30px;
}

@media all and (max-width: 480px){
	.subscribe input, .subscribe button{
		width: 100%;
		margin:2px;
	}
	.social{
		font-size: 30px;
	}
}

.join{
	height: auto;
	padding: 0;
}

.join h2, .contact h2{
	font-family: "nexa_boldregular";
	letter-spacing: 1px;
	font-size: 28px;
}

.join-wrap{
	padding: 0;
}

.join-link{
	width: 100%;
	height:100%;
	padding: 60px 10px;
	font-size: 18px;
	text-align: center;
	border-bottom: 2px solid #e4e4e4;
}
.line{
	margin:20px;
	height:10px;
	width:50px;
	background-color: white;
}
.quicklinks
{
	padding:20px;
}
.quicklinks a
{    padding :20px;
	color:white;
    text-decoration: none;
    font-size:20px;
}
.quicklinks a:hover
{
	color:black;
}
.contact{
	/*text-align: center;*/
	padding: 10px 10px;
}

.contact h2{
	text-align:center;
	font-size: 32px;
	margin: 20px 0 10px 0;
}

.contact p{
	text-align:center;
	margin:0;
	font-size: 18px;
}

.contact div.container{
	padding-top: 30px;
}

.g-recaptcha{
	width: 300px;
	margin: 10px auto;
}

.contact .container{
	max-width: 1000px;
}

.contact form input, .contact form textarea, .contact form button{
	width: 100%;
	display: block;
	outline: none;
	max-width: 420px;
	padding: 10px;
	color: #424242;
	margin:2px auto;
}

.contact form{
	margin-top: 30px;
}

.contact form button{
	background: #666;
	color: #fff;
	-webkit-transition: all .3s ease;
	        transition: all .3s ease;
}

.contact form button:hover, .contact form:focus{
	background: #424242;
}

.member .image{
	margin: 10px auto;
	display: block;
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid #eee;
}

.member img{
	width: 180px;
	margin-left: -10px;
}

.member{
	margin: 10px auto;
}

.team{
	margin: 30px auto;
	max-width: 990px;
}

.team p{
	margin: 0px;
	text-align: center;
	color: #424242;
}

.member p:nth-child(2){
	font-family: "nexa_boldregular";
}

.team-head{
	background: url(../images/team.jpg);
	background-size: cover;
	height: 400px;
}

@media all and (max-width: 640px){
	.team-head{
		height: 300px;
	}
}

.news-head{
	background: url(../images/split.jpg);
	background-size: cover;
}

.team-head h2{
	font-size: 36px;
	text-align: center;
	letter-spacing: 4px;
}

.news{
	color: #424242;
	padding: 5px; 
	max-width: 900px;
}

.news-wrap{
	margin: 30px auto;
}

.news-box{
	height: 250px;
	padding: 10px;
	border: 1px solid #dfdfdf; 
	background: #fefefe;
	overflow: hidden;
	box-shadow: 0px 2px #dedede;
	text-overflow: ellipsis;
}

@media all and (min-width: 768px) and (max-width: 991px){
	.news{
		width: 96%
	}

	.news-box{
		min-height: 300px;
	}
}

.news a{
	color: #424242;
}

.news a:hover, .news a:focus{
	text-decoration: none;
	color: #6798D0;
}

.news h1, .news h2{
	font-family: "nexa_boldregular";
	font-size: 24px;
	margin: 10px;
}

.news h1{
	font-size: 32px;
	margin: 20px;
	text-align: center;
	letter-spacing: 2px;
}

.news-date{
	margin: 0px 10px;
	background: #6798D0;
	padding: 2px 8px;
	border-radius: 2px;
	display: inline-block;
	color: #fff;
	font-size: 12px;
}

.news-content{
	margin: 15px 10px 5px 10px;
}

.news p a{
	color: red;
}

.news .bottom{
	text-align: center;
	margin: 0;
}

.news .one{
	margin-top: 20px;
}

.join-box{
	text-align: center;
	background: #eee;
	color: #424244;
	margin: 50px auto;
	padding: 10px;
}

.ideo-container{
	margin-top: 30px;
	color: #424242;
	max-width: 700px;
	text-align: justify;
}

.join-box .dark-red{
	margin: 0 10px;
}

@media all and (max-width: 511px){
	.join-box .dark-red{
		margin: 10px;
	}	
}

/* Slider */

h2.grey{
	color: #888;
	font-weight: bold;
	font-family: "sofia_prolight";
	font-size:20px;
	text-align: center;
	margin: 40px 0 10px 0 ;
	text-transform: uppercase;
}

.cbp-qtrotator {
	position: relative;
	margin: 3em auto 0 auto;
	max-width: 800px;
	width: 100%;
	min-height: 360px;
}

.cbp-qtrotator .cbp-qtcontent {
	position: absolute;
	min-height: 200px;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 2em 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 100%;
}

.cbp-qtcontent h2{
	color: #d33b49;
	font-size: 24px;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
	border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
	position: relative; 
	z-index: 100;
	pointer-events: auto;
	opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
	content: " ";
	display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
	clear: both;
}

.cbp-qtprogress {
	position: absolute;
	background: #d33b49;
	height: 1px;
	width: 0%;
	top: 0;
	z-index: 100;
}

.cbp-qtrotator blockquote {
	margin: 0;
	padding: 0;
}

.cbp-qtrotator blockquote p {
	font-size: 18px;
	color: #888;
	text-align: justify;
	margin: 0.4em 0 1em;
	padding-top: 20px;
}

.cbp-qtrotator blockquote footer {
	font-size: 1.2em;
}

.cbp-qtrotator blockquote footer:before {
	content: '― ';
}

.cbp-qtrotator .cbp-qtcontent img {
	float: right;
	margin-left: 3em;
	border: 2px solid #d33b49;
}

@media screen and (max-width: 768px) { 

	.cbp-qtrotator {
		font-size: 90%;
	}

	.cbp-qtrotator img {
		margin-bottom: 20px;
	}

}
@media screen and (max-width: 480px) { 

	.cbp-qtcontent h2{
		text-align: center;
	}

	.cbp-qtrotator img {
		margin-right: 70px;
	}

	.cbp-qtcontent blockquote{
		padding: 20px;
	}
}

@media screen and (max-width: 360px) { 
	.cbp-qtrotator img {
		margin-right: 35px;
		width: 260px;
	}

}

@media screen and (max-width: 320px) { 
	.cbp-qtrotator img {
		margin-right: 26px;
		width: 240px;
	}

}
/*
Team Page
*/
.card-block .btn-outline-primary {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.card {
  margin: 20px 0;
}

/* Flip Cards CSS */
.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: white;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.team_desc
{
	font-size:20px;
}
.dropdown_teams i
{
	font-size:20px;
	padding:10px;
	color:black;
}
.whitefont
{
	color:white;
}