@font-face {
    font-family: 'trackregular';
    src: url('../fonts/track-webfont.eot');
    src: url('../fonts/track-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/track-webfont.woff') format('woff'),
         url('../fonts/track-webfont.ttf') format('truetype'),
         url('../fonts/track-webfont.svg#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	font-family: 'trackregular';
	src: url('../fonts/track-webfont.svg#trackregular') format('svg');
	     font-weight: normal;
	     font-style: normal;
	}
}

@font-face {
	font-family: 'Lane-Narrow';
	src: url('../fonts/Lane-Narrow.eot');
	src: url('../fonts/Lane-Narrow.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Lane-Narrow.woff') format('woff'),
	url('../fonts/Lane-Narrow.ttf') format('truetype'),
	url('../fonts/Lane-Narrow.svg#Lane-Narrow') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	font-family: 'Lane-Narrow';
	src: url('../fonts/Lane-Narrow.svg#Lane-Narrow') format('svg');
	     font-weight: normal;
	     font-style: normal;
	}
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?24823844');
  src: url('../fonts/fontello.eot?24823844#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?24823844') format('woff'),
       url('../fonts/fontello.ttf?24823844') format('truetype'),
       url('../fonts/fontello.svg?24823844#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?24823844#fontello') format('svg');
  }
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */